$primary: #7380ec;
$danger: #ff7782;
$success: #41f1b6;
$warning: #ffbb55;
$white: #fff;
$info-dark: #7d8da1;
$info-light: #dce1eb;
$dark: #363949;
$light: rgba(132, 139, 200, 0.18);
$primary-variant: #111e88;
$dark-variant: #677483;
$background: #f6f6f9;

$card-border-radius: 2em;
$box-shadow: 0 2em 3em $light;
