$green: #2dfc52;

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.375rem;
  aspect-ratio: 1;
  border-radius: 0.7rem;
  background-color: #212532;
  cursor: pointer;
  transition: 0.5s;
  transition-delay: 0.9s;

  &.active {
    width: 12.5rem;
    transition-delay: 0s;

    span {
      width: 2.8rem;
      background: #333849;
      transform: translate(calc(3.75rem * var(--x)), calc(3.75rem * var(--y)));

      svg {
        font-size: 1.35rem;
        color: #fff;
      }
    }
  }

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.5rem;
    min-width: 0.5rem;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(calc(0.75rem * var(--x)), calc(0.75rem * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));

    &:hover {
      svg {
        color: $green;
      }
    }

    svg {
      font-size: 0;
      transition: 0.5s;
    }
  }
}
