$blue: #287bff;
$white: #fff;
$grey: #f5f5f5;
$black1: #222222;
$black2: #999999;

.body {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;

  .navigation {
    position: fixed;
    width: 80px;
    height: 100%;
    border-left: 10px solid $blue;
    background-color: $blue;
    transition: 0.5s;
    overflow: hidden;

    &.active {
      width: 300px;
    }

    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      li {
        position: relative;
        width: 100%;
        list-style: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        a {
          position: relative;
          display: flex;
          width: 100%;
          text-decoration: none;
          color: white;

          .icon {
            position: relative;
            display: block;
            min-width: 60px;
            height: 60px;
            line-height: 70px;
            text-align: center;
            font-size: 1.75rem;
          }

          .title {
            position: relative;
            display: block;
            padding: 0 10px;
            height: 60px;
            line-height: 60px;
          }
        }

        &:hover,
        &.active {
          background-color: $white;

          a {
            color: $blue;

            // Create curve outside
            &::before,
            &::after {
              content: '';
              position: absolute;
              right: 0;
              top: -50px;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              // background-color: red;  // For visibility
              background-color: transparent;
              box-shadow: 35px 35px 0 10px $white;
              pointer-events: none;
            }

            &::after {
              top: unset;
              bottom: -50px;
              box-shadow: 35px -35px 0 10px $white;
            }
          }
        }

        // Logo
        &:nth-child(1) {
          pointer-events: none;
          margin-bottom: 40px;
        }
      }
    }
  }

  .main {
    position: absolute;
    width: calc(100% - 80px);
    left: 80px;
    min-height: 100vh;
    background-color: $white;
    transition: 0.5s;

    &.active {
      left: 300px;
      width: calc(100% - 300px);
    }

    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 0 10px;

      .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        width: 60px;
        height: 60px;
        font-size: 2.5rem;
        cursor: pointer;
      }

      .search {
        position: relative;
        width: 400px;
        margin: 0 10px;

        label {
          position: relative;
          width: 100%;

          input {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 5px 20px 5px 35px;
            border: 1px solid $black2;
            outline: none;
            font-size: 18px;
          }

          svg {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 1.2rem;
          }
        }
      }

      .user {
        position: relative;
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
      }
    }

    .card-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      position: relative;
      width: 100%;
      padding: 20px;

      .card {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        background-color: $white;
        cursor: pointer;

        .numbers {
          position: relative;
          font-weight: 500;
          font-size: 2.5rem;
          color: $blue;
        }

        .name {
          margin-top: 5px;
          font-size: 1.1rem;
          color: $black2;
        }

        .icon {
          font-size: 3.5rem;
          color: $black2;
        }

        &:hover {
          background-color: $blue;

          .numbers,
          .name,
          .icon {
            color: $white;
          }
        }
      }
    }

    .details {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 30px;
      position: relative;
      width: 100%;
      padding: 20px;
      margin-top: 10px;

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
          font-weight: 600;
          color: $blue;
        }

        .btn {
          position: relative;
          padding: 5px 10px;
          border-radius: 6px;
          background-color: $blue;
          color: $white;
          text-decoration: none;
        }
      }

      .recent-orders {
        display: grid;
        min-height: 500px;
        position: relative;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        background-color: $white;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);

        table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 10px;

          thead td {
            font-weight: 600;
          }

          td {
            padding: 10px;

            // The 'Price' column
            &:nth-child(2) {
              text-align: end;
            }

            // The 'Payment' column
            &:nth-child(3) {
              text-align: center;
            }

            // The "Status" column
            &:last-child {
              text-align: end;
            }
          }

          tbody tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: $black1;

            &:hover {
              background-color: $blue;
              color: $white;
            }

            &:last-child {
              border-bottom: none;
            }

            .status {
              padding: 2px 4px;
              border-radius: 4px;
              font-weight: 500;
              font-size: 0.8rem;
              color: $white;

              &.delivered {
                background-color: #8de02c;
              }
              &.pending {
                background-color: #f9ca3f;
              }
              &.return {
                background-color: #f33e3e;
              }
              &.in-progress {
                white-space: nowrap;
                background-color: #1795ce;
              }
            }
          }
        }
      }

      .recent-customers {
        position: relative;
        display: grid;
        min-height: 500px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        background-color: $white;

        .img {
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }

        table {
          margin-top: 10px;
          border-collapse: collapse;

          tr:hover {
            background-color: $blue;
            color: $white;

            span {
              color: $white;
            }
          }

          td {
            padding: 12px 10px;

            h4 {
              font-size: 1.1rem;
              font-weight: 500;
              line-height: 1.2rem;
            }

            span {
              font-size: 0.9rem;
              color: $black2;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .navigation {
      left: -300px; // Hide

      &.active {
        width: 300px;
        left: 0; // Show
      }
    }

    .main {
      left: 0;
      width: 100%;

      &.active {
        left: 300px;
      }

      .card-box {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navigation .user {
      min-width: 40px;
    }
    .main .details {
      grid-template-columns: repeat(1, 1fr);

      .recent-orders {
        overflow-x: auto;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .navigation {
      width: 100% !important;
      left: -100% !important;
      z-index: 1000 !important;

      &.active {
        left: 0 !important;
      }
    }

    .main {
      .topbar .toggle {
        z-index: 9999;
      }

      .card-box {
        grid-template-columns: repeat(1, 1fr);
      }

      &.active .topbar .toggle {
        position: fixed;
        right: 10px;
        color: $white;
      }
    }
  }
}
