.navigation {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  position: relative;
  width: 70px;
  height: 350px;
  border-radius: 35px;
  background-color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

  ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
      z-index: 1;
      width: 70px;
      height: 70px;
      list-style: none;

      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        color: #333;
        font-weight: 500;

        .icon {
          display: block;
          line-height: 75px;
          text-align: center;
          font-size: 24px;
          transition: 0.5s;
        }

        .title {
          position: absolute;
          top: 50%;
          left: 110px;
          padding: 5px 10px;
          border-radius: 6px;
          transform: translateY(-50%);
          background-color: #fff;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          opacity: 0;
          visibility: hidden;
          transition: 0.5s;

          &::before {
            content: '';
            position: absolute;
            left: -10px;
            top: 48%;
            width: 12px;
            height: 12px;
            border-radius: 2px;
            transform: rotate(45deg) translateY(-50%);
            background-color: #fff;
          }
        }
      }

      &.active {
        a .icon {
          color: #fff;
        }
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}).active ~ .indicator {
          transform: translateY(calc(70px * #{$i - 1}));
        }
      }

      &:hover {
        .title {
          opacity: 1;
          visibility: visible;
          transform: translateX(-25px) translateY(-50%);
        }
      }
    }

    .indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      margin: 10px;
      border-radius: 50%;
      background-color: #ccc;
      transition: 0.5s;
    }
  }
}
